@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Indie+Flower&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(126, 91, 121) 35%,
    rgb(115, 208, 239)
  );
  min-height: 100vh;
  font-family: "indie flower", poppins;
  /* background-color: pink; */
}

.next {
  background-color: rgb(92, 174, 181);
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.Quizbag {
  /* border: 1px solid black; */
  padding: 20px;
  box-shadow: 2px 10px 20px 3px rgb(147, 199, 231);
  background-color: #c86ea9;
  border-radius: 15px;
  max-width: 500px;
  /* box-shadow: ; */
}

.displaybtn {
  display: block;

  width: 90%;
  padding: 10px;
  margin: 0 auto 10px auto;
  outline: none;
  border: none;
  background-color: pink;
  border-radius: 20px;
  font-family: "caveat", poppins;
  font-size: 20px;
  font-weight: 900;
  color: rgb(168, 38, 124);
}
.displaybtn:hover {
  background-color: rgb(161, 127, 132);
}

.question {
  background-color: beige;
  padding: 10px;
  border-radius: 10px;
  color: rgb(223, 163, 98);
}

.heading {
  font-family: "Amatic SC, poppins";
  color: rgb(73, 4, 50);
}

.appquiz {
  color: rgb(90, 8, 22);
}

.score {
  border: 1px solid rgb(152, 110, 190);
  width: 50%;
  margin: auto;
  font-weight: 700;
  background-color: rgb(152, 110, 190);
  color: rgb(0, 255, 153);
  font-size: 20px;
  border-radius: 10px;
}
